<%= form_with(model: edition, local: true) do |form| %>
  <% if edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

      <ul>
        <% edition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <%= form.fields_for :time_limit do |time_limit| %>
    <%= render "time_limits/form_shared", form: time_limit %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
