<p>
  <strong>Company:</strong>
  <%= @judge.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @judge.department %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @judge.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @judge.contact_email %>
</p>

<p>
  <strong>Has tablet:</strong>
  <%= @judge.has_tablet %>
</p>

<%= link_to 'Edit', edit_judge_path(@judge) %> |
<%= link_to 'Back', judges_path %>
