<p>
  <strong>Problem:</strong>
  <%= @social_impact.problem %>
</p>

<p>
  <strong>Empathy:</strong>
  <%= @social_impact.empathy %>
</p>

<p>
  <strong>Responsibility:</strong>
  <%= @social_impact.responsibility %>
</p>

<p>
  <strong>Project:</strong>
  <%= @social_impact.project_id %>
</p>

<%= link_to 'Edit', edit_social_impact_path(@social_impact) %> |
<%= link_to 'Back', social_impacts_path %>
