<p>
  <strong>Problem:</strong>
  <%= @abstract.problem %>
</p>

<p>
  <strong>Methodology:</strong>
  <%= @abstract.methodology %>
</p>

<p>
  <strong>Feasibility:</strong>
  <%= @abstract.feasibility %>
</p>

<p>
  <strong>Results:</strong>
  <%= @abstract.results %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @abstract.impact %>
</p>

<p>
  <strong>Project:</strong>
  <%= @abstract.project_id %>
</p>

<%= link_to 'Edit', edit_abstract_path(@abstract) %> |
<%= link_to 'Back', abstracts_path %>
