<div class="content">

  <h1>Professors</h1>

  <hr>

  <div class="form-group row text-middle">
    <div class="col-sm-2">
      <th>Nombre</th>
    </div>
    <div class="col-sm-2">
      <th>Apellido</th>
    </div>
    <div class="col-sm-3">
      <th>Status</th>
    </div>
    <div class="col-sm-3">
      <th>Departamento</th>
    </div>
    <div class="col-sm-2">
      <th>Opciones</th>
    </div>
  </div>

  <hr>

  <% @professors.each do |professor| %>
    <div class="form-group row text-middle">
      <div class="col-sm-2">
        <th><%= professor_first_name(professor) %></th>
      </div>
      <div class="col-sm-2">
        <th><%= professor_last_name(professor) %></th>
      </div>
      <div class="col-sm-3">
        <th><%= professor_status(professor) %></th>
      </div>
      <div class="col-sm-3">
        <th><%= professor.department %></th>
      </div>
      <div class="col-sm-2">
        <th><%= link_to 'Show', professor %> <%= link_to 'Edit', edit_professor_path(professor) %> <%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %> </th>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Professor', new_professor_path %>
