<p id="notice"><%= notice %></p>

<h1>Seleccionar Proyecto</h1>

<%= form_tag select_projects_path, :method => 'post' do%>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Profesor a Cargo</th>
      <th>Aprobar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% counter = 0 %>
    <% @projects.each do |project| %>
      <% counter = counter + 1%>
      <tr>
        <td><%= counter %></td>
        <td><%= project.id %></td>
        <td><%= project_name(project) %></td>
        <td><%= project_professor(project) %></td>
        <td><%= check_box_tag 'selected_projects[]', "#{project.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Guardar", class: 'btn btn-light' %>

<br>
<% end %>
